{% extends 'layout.html' %}
{% block background %}
    <header class="masthead" style="background-image: url('/static/img/index-bg.jpeg')">
{% endblock background%}
{% block content %}
{% if current_user.is_authenticated %}
{% block title %}
    User {{ current_user.username }} Page
{% endblock title %}
{% endif %}
{% block header %}
    <h1></h1>
    <span class="subheading">A simple blog using Flask Python framework</span>
{% endblock header %}
{% if current_user.is_authenticated %}
<p>Username: {{ current_user.username }}</p>
<p>Email: {{ current_user.email }}</p>
<p>Role: {{ current_user.role }}</p>
<!-- <p>{# {{ current_user.password }} #}</p> -->
<a href="{{ url_for('users.user_posts', username=current_user.username)}}">To {{ current_user.username }}'s Blog</a>

{% endif %}
{% endblock content %}

