{% extends "layout.html" %}
{% block background %}
    <header class="masthead" style="background-image: url('/static/img/login-bg.jpeg')">
{% endblock %}

{% block header %}
    <h1>Log In</h1>
    <span class="subheading">Please enter your username and password below</span>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div class="login_form">
  <form action="" method="POST">

    {{ form.hidden_tag() }}
        <legend class="legend">{{ legend }}</legend>
        <div class="form-floating">
        {{ form.title(class='form-post-title', placeholder='Post Title') }}
        </div>
        <div class="form-floating">
        {{ form.content(class='form-post-title', placeholder='Post Content') }}
        </div>
        <!-- <div class="form-floating"> -->
        {# {{ form.picture() }} #}
        <!-- </div> -->
        <div class="form-group">
          {{ form.submit(class='btn-sign-in')}}
      </div>
 </form>

{% endblock content %}
