{% block content %}
<h1>{{ title }}</h1>
<div class="login_form">
  <form action="" method="POST">

    {{ form_login.hidden_tag() }}
        <legend class="legend">{{ legend }}</legend>

        <div class="form-group">
            {{ form_login.email(class='form-post-title', placeholder="Email") }}
            {{ form_login.password(class='form-post-title', placeholder='Password') }}
        </div>
            <div class="form-check">
                {{ form_login.remember(class='form-check-input') }}
                 {{ form_login.remember.label(class='form-check-label') }}
            </div>
            <div class="form-group">
              {{ form_login.submit(class='btn-sign-in')}}
          </div>
        </form>
{% endblock content %}
