{% extends "layout.html" %}
{% block background %}
    <header class="masthead" style="background-image: url('/static/img/login-bg.jpeg')">
{% endblock %}

{% block header %}
    <h1>Log In</h1>
    <span class="subheading">Please enter your username and password below</span>
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<div class="login_form">
  <form action="" method="POST">

    {{ form_login.hidden_tag() }}
        <legend class="legend">{{ legend }}</legend>

        <div class="form-group">
            {% if form_login.email.errors %}
            {{ form_login.email(class='is-invalid', placeholder="Email") }}
            <div class="invalid-feedback">
                {% for errors in form_login.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
                {{ form_login.email(class='form-post-title', placeholder="Email") }}
            {% endif %}
        </div>
        {% if form_login.password.errors %}
        {{ form_login.password(class='form-post-title is-invalid', placeholder='Password') }}
        <div class="invalid-feedback">
        {% for errors in form_login.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form_login.password(class='form-post-title', placeholder='Password') }}
                {% endif %}
            <div class="form-check">
                {{ form_login.remember(class='form-check-input') }}
                 {{ form_login.remember.label(class='form-check-label') }}
            </div>
            <div class="form-group">
              {{ form_login.submit(class='btn-sign-in')}}
          </div>
        </form>
{% endblock content %}
