{% extends 'layout.html' %}
{# {% extends 'admin/master.html' %} #}
{% block background %}
    <header class="masthead" style="background-image: url('/static/img/index-bg.jpeg')">
{% endblock background%}
{% block content %}

<h3>Добро пожаловать, <span style="color: green;"> {{ current_user.username.split(' ')[0] }}</span></h3>

<h4>Список пользователей:</h4>
<ul>
    {% for user in all_users %}
    <b> User name: {{ user.username }}</b>;<br>
    email: {{ user.email }}<br>
    {% endfor %}
    <hr>
</ul>


{% endblock content %}